$color-dark-blue: #2063a7;


$color-blue: #2d84db;
$color-light-blue: #79bcff;

$color-blue-notify: #3460f0;

$color-dark-red :#b71c1c;
$color-red: #ec4243;
$color-light-red: #f86773;

$color-dark-green: #007640;
$color-green: #00A65A;
$color-light-green: #00db76;

$color-yellow: #fdf000;
$color-light-yellow: #ffe88d;
$color-gold: #ffca18;

$color-orange: #ff761b;

$color-topic-1 : #326cb8;

// color of topic


// notify
$color-notify-success: $color-green;
$color-notify-success: $color-green;

//disable
